@model OnlineStoreDataAccess.models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title - Online Store</title>

        <link href="@Url.Content("~/Content/twitter-bootstrap.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" media="all" />
        <link href="@Url.Content("~/Content/alertifyjs/themes/default.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/alertifyjs/alertify.min.css")" rel="stylesheet" />
        
        <script src="@Url.Content("~/Scripts/alertify.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
    </head>

    <style type="text/css">
        .loginbox {
            margin-top: 50px;
        }

        .forgot-password {
            float: right;
            font-size: 80%;
            position: relative;
            top: -10px;
        }

        .panel-pad {
            padding-top: 30px;
        }

        .login-alert {
            display: none;
        }

        .margT25 {
            margin-bottom: 25px;
        }

        .margT10 {
            margin-top: 10px;
        }

        .margL10 {
            padding-left: 25px;
        }

        .no-acc {
            border-top: 1px solid#888;
            padding-top: 15px;
            font-size: 85%;
        }

        .signup-box {
            display: none;
            margin-top: 50px;
        }

        .signup-fb {
            border-top: 1px solid #999;
            padding-top: 20px;
        }

        .signin {
            float: right;
            font-size: 85%;
            position: relative;
            top: -10px;
        }

        .btn-facebook {
            color: #fff;
            background-color: #0A87AE;
            border-color: #3b5998;
        }

            .btn-facebook:hover,
            .btn-facebook:focus,
            .btn-facebook:active,
            .btn-facebook.active,
            .open > .dropdown-toggle.btn-facebook {
                color: #fff;
                background-color: #07abd9;
                border-color: #3b5998;
            }

        .btn-google {
            color: #fff;
            background-color: #dd4b39;
            border-color: #dd4b39;
        }

            .btn-google:hover,
            .btn-google:focus,
            .btn-google:active,
            .btn-google.active,
            .open > .dropdown-toggle.btn-google {
                color: #fff;
                background-color: #dd4b39;
                border-color: #dd4b39;
            }

        .btn-twitter {
            color: #fff;
            background-color: #00aced;
            border-color: #00aced;
        }

            .btn-twitter:hover,
            .btn-twitter:focus,
            .btn-twitter:active,
            .btn-twitter.active,
            .open > .dropdown-toggle.btn-twitter {
                color: #fff;
                background-color: #00aced;
                border-color: #00aced;
            }

        .login-screen {
            background-color: silver;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="col-md-12">
            <div class="login-screen">
                <div class="container">
                    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 loginbox">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h5>Register User account.</h5>
                                </div>
                            </div>
                            <section id="loginForm">
                                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row" style="margin-left: 5px">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group margT25">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "email address" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8">
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 5px">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group margT25">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8">
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 5px">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group margT25">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "password" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8">
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center">
                                            <br />
                                            <input type="submit" value="Register" class="btn btn-success" />
                                            &nbsp;
                                            <a class="btn btn-info" href="@Url.Action("Login","Account")">Login</a>
                                        </div>
                                    </div>
                                }
                            </section>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Result != null)
{
    <script>
        $(document).ready(function () {
            alertify.defaults.glossary.title = 'Register User';
            alertify.alert('@ViewBag.Result');
        });
    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
